.acasa{
    #figura {
        width: 350px;
        height: 500px;
        background-color: rgba(185, 67, 214, 0.438);
        box-shadow: 0 0 50px 50px rgba(185, 67, 214, 0.438);
        position: fixed;
        border-radius: 50%; /* Pentru a face figura rotundă */
        transform: rotateZ(45deg);
    }
    main{
        background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        .sec-1{
            height: 600px;
            display: flex;
            align-items: center;
            color: white;
            .leftCol{
                h1{

                }
            }
            .rightCol{
                .contentBoxEx{
                    .navbarEx{
                        .logoEx{

                        }
                        .navbarEx{
                            p{
                                
                            }
                            .icon{

                            }
                        }
                    }
                    .mainEx{
                        .leftEx{
                            h2{

                            }
                            button{

                            }
                            .optionsEx{
                                p{

                                }
                                .icon{

                                }
                            }
                        }
                        .rightEx{
                            
                        }
                    }
                }
            }
        }
        .sec-2{
            display: flex;
            align-items: center;
            height: 670px;
            .imgsLeft{
                flex: 1;
                display: flex;
                justify-content: center;
                position: relative;
                #img1{
                    position: absolute;
                    top: -125px;
                    width: 300px;
                    z-index: 100;
                    // background-color: red;
                    animation: img1 18s infinite;
                }
                #img2{
                    position: absolute;
                    transform: translateX(-150px);
                    width: 250px;
                    top: -275px;
                    z-index: 98;
                    // background-color: green;
                    animation: img2 18s infinite;
                }
                #img3{
                    position: absolute;
                    transform: translateX(150px);
                    width: 250px;
                    top: -275px;
                    z-index: 99;
                    // background-color: blue;
                    animation: img3 18s infinite;
                }
            }
            .textRight{
                flex: 1;
                display: flex;
                justify-content: center;
                p{
                    font-size: 32px;
                    max-width: 34vw;
                    padding: 0 8vw;
                    color: white;
                }
            }
        }
    }
}

@keyframes img1 {
    0% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    27.7%{
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    27.8%{
        z-index: 99;
    }
    33.2%{
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }
    60.9%{
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }
    66.4%{
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }
    94.1%{
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }
    94.2%{
        z-index: 100;
    }
    100% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
}

@keyframes img2 {
    0% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }
    27.7%{
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }
    33.2%{
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }
    60.9%{
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }
    61%{
        z-index: 100;
    }
    66.4%{
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    94.1%{
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    94.2%{
        z-index: 99;
    }
    100% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }
}

@keyframes img3 {
    0% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }
    27.7%{
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }
    27.8%{
        z-index: 100;
    }
    33.2%{
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    60.9%{
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
    61%{
        z-index: 99;
    }
    66.4%{
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }
    94.1%{
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }
    100% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }
}