@import './variables.scss';

.acasaPage {
    #figura {
        width: 1px;
        height: 1px;
        background-color: rgba(185, 67, 214, 0.2);
        box-shadow: 0 0 400px 400px rgba(185, 67, 214, 0.2);
        position: fixed;
        border-radius: 50%;
        z-index: -2;
        animation: figura 30s infinite linear;
    }
    @keyframes figura {
        from{
            transform: rotateZ(0deg);
        }
        to{
            transform: rotateZ(360deg);
        }
    }

    .acasa {
        main {
            .sec-1 {
                display: flex;
                align-items: center;
                gap: 50px;
                color: $color;
                padding: 0 5vw;
                margin: 135px 0;

                .leftCol {
                    flex: 1;

                    h1 {
                        max-width: 550px;
                        font-size: 64px;
                        font-weight: 400;
                    }
                }

                .rightCol {
                    flex: 1.15;
                    position: relative;
                    transition: all 0.5s ease-out;
                    perspective: 1000px;

                    .over {
                        width: 33.333%;
                        height: 33.333%;
                        position: absolute;
                        z-index: 1;
                    }

                    .over:nth-child(1) {
                        left: 0;
                        top: 0
                    }

                    .over:nth-child(2) {
                        left: 33.333%;
                        top: 0
                    }

                    .over:nth-child(3) {
                        left: 66.666%;
                        top: 0
                    }

                    .over:nth-child(4) {
                        left: 0;
                        top: 33.333%
                    }

                    .over:nth-child(5) {
                        left: 33.333%;
                        top: 33.333%
                    }

                    .over:nth-child(6) {
                        left: 66.666%;
                        top: 33.333%
                    }

                    .over:nth-child(7) {
                        left: 0;
                        top: 66.666%
                    }

                    .over:nth-child(8) {
                        left: 33.333%;
                        top: 66.666%
                    }

                    .over:nth-child(9) {
                        left: 66.666%;
                        top: 66.666%
                    }

                    .over:nth-child(1):hover~.contentBoxEx {
                        transform: rotateX(-3deg) rotateY(3deg)
                    }

                    .over:nth-child(2):hover~.contentBoxEx {
                        transform: rotateX(-3deg) rotateY(0deg)
                    }

                    .over:nth-child(3):hover~.contentBoxEx {
                        transform: rotateX(-3deg) rotateY(-3deg)
                    }

                    .over:nth-child(4):hover~.contentBoxEx {
                        transform: rotateX(0deg) rotateY(3deg)
                    }

                    .over:nth-child(5):hover~.contentBoxEx {
                        transform: rotateX(0deg) rotateY(0deg)
                    }

                    .over:nth-child(6):hover~.contentBoxEx {
                        transform: rotateX(0deg) rotateY(-3deg)
                    }

                    .over:nth-child(7):hover~.contentBoxEx {
                        transform: rotateX(3deg) rotateY(3deg)
                    }

                    .over:nth-child(8):hover~.contentBoxEx {
                        transform: rotateX(3deg) rotateY(0deg)
                    }

                    .over:nth-child(9):hover~.contentBoxEx {
                        transform: rotateX(3deg) rotateY(-3deg)
                    }

                    .contentBoxEx {
                        display: flex;
                        background-image: url('../assets/imgs/backgroundCard.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 1px solid #ffffff;
                        border-radius: 35px;
                        box-shadow: 0 0 20px 20px #00000020;
                        flex-direction: column;
                        transition: all 0.6s ease-out;
                        transform: rotateX(0deg) rotateY(0deg);
                        perspective: 1000px;
                        transform-style: preserve-3d;

                        .navbarEx {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 20px 40px;

                            .logoEx {
                                font-family: "Germania One", system-ui;
                                font-weight: 400;
                                font-style: normal;
                                font-size: 28px;
                            }

                            .linksEx {
                                display: flex;
                                align-items: center;

                                p {
                                    font-size: 16px;
                                    padding: 0 15px;
                                }

                                .icon {
                                    font-size: 18px;
                                    padding-left: 15px;
                                }
                            }
                        }

                        .mainEx {
                            padding: 0 50px;
                            display: flex;
                            gap: 25px;

                            .leftEx {
                                flex: 1;

                                h2 {
                                    font-family: "Germania One", system-ui;
                                    font-weight: 400;
                                    font-style: normal;
                                    font-size: 64px;
                                    margin-top: 40px;
                                }

                                button {
                                    padding: 5px 15px;
                                    background: transparent;
                                    border: 1px solid #ffffff;
                                    color: #ffffff;
                                    border-radius: 25px;
                                    font-size: 14px;
                                    margin-top: 30px;
                                    margin-bottom: 15px;
                                }

                                .optionsEx {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 20px;

                                    p {
                                        font-size: 16px;
                                        margin-right: 8px;
                                    }

                                    .icon {
                                        font-size: 20px;
                                        margin: 0 8px;
                                    }
                                }
                            }

                            .rightEx {
                                flex: 2;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                .rightCol:hover {
                    transition: all 0.3s linear;
                    transform: scale(1.01);
                }
            }

            .sec-2 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 670px;
                padding: 100px 5vw 50px 5vw;
                .imgsLeft {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .left{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;
                        #img3 {
                            margin: 0 0 -100px 0;
                        }
                    }
                    #img2 {
                        margin: 0 -100px 0 -100px;
                    }
                }

                .textRight {
                    flex: 1;
                    display: flex;
                    justify-content: center;

                    p {
                        font-size: 24px;
                        line-height: 1.5;
                        max-width: 34vw;
                        padding: 0 8vw;
                        color: white;
                    }
                }
            }
            .sec-3{
                display: flex;
                justify-content: space-around;
                margin-top: 50px;
                gap: 50px;
                .left{
                    flex: 1;
                    h2{
                        font-size: 40px;
                        text-align: center;
                        color: white;
                        position: sticky;
                        top: 350px;
                        margin-bottom: 800px;
                        margin-top: 150px;
                    }
                }
                .right{
                    flex: 1.15;
                    display: flex;
                    position: relative;
                    .cards{
                        position: sticky;
                        top: 200px;
                        padding-bottom: 100px;
                        .card{
                            width: 800px;
                            height: 400px;
                            margin-bottom: 50vh;
                            position: sticky;
                            top: 200px;
                            padding: 30px 50px;
                            border: 1px solid white;
                            border-radius: 25px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            background-image: url('../assets/imgs/backgroundCard.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            h3{
                                display: flex;
                                align-items: center;
                                font-size: 36px;
                                color: white;
                                .icon{
                                    margin-right: 10px;
                                }
                            }
                            p{
                                font-size: 24px;
                                line-height: 1.5;
                                color: white;
                            }
                            .ideas{
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                color: white;
                                span{
                                    font-size: 20px;
                                    border: 1px solid white;
                                    padding: 8px 15px;
                                    border-radius: 25px;
                                    margin: 10px;
                                }
                            }
                        }
                        .card:nth-child(1) {
                            top: 100px;
                        }
                        .card:nth-child(2) {
                            top: 120px;
                            opacity: 0;
                        }
                        .card:nth-child(3) {
                            top: 140px;
                            opacity: 0;
                        }
                        .card:nth-child(4) {
                            top: 160px;
                            opacity: 0;
                        }
                        .card:nth-child(5) {
                            top: 180px;
                            opacity: 0;
                        }
                        .card:nth-child(6) {
                            top: 200px;
                            opacity: 0;
                        }
                    }
                }
            }
            h2{
                margin-top: -450px;
                text-align: center;
                font-size: 40px;
                color: white;
                margin-bottom: 40px;
            }
            .sec-4{
                background-color: transparent;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: $gradient;
                .carouselBox{
                    height: 198px;
                    background-color: #200d38;
                    position: relative;
                    .left{
                        position: absolute;
                        background: linear-gradient(90deg, rgba(32,13,56,1) 0%, rgba(32,13,56,0) 100%);
                        height: 200px;
                        width: 200px;
                        top: -1px;
                        left: 0;
                        z-index: 2;
                    }
                    .right{
                        position: absolute;
                        background: linear-gradient(90deg, rgba(32,13,56,0) 0%, rgba(32,13,56,1) 100%);
                        height: 200px;
                        width: 200px;
                        top: -1px;
                        right: 0;
                        z-index: 2;
                    }
                    .carousel{
                        display: flex;
                        height: 198px;
                        background-color: transparent;
                        justify-content: space-between;
                        align-items: center;
                        list-style-type: none;
                        overflow-x: hidden;
                        width: calc(300px * 15);
                        animation: scrolling 30s linear infinite;
                        li{
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            flex-shrink: 0;
                            .icon{
                                font-size: 56px;
                            }
                            span{
                                font-size: 24px;
                                color: white;
                                margin-top: 5px;
                            }
                        }
                        #html{
                            color: #E14E1D;
                        }
                        #css{
                            color: #0277BD;
                        }
                        #sass{
                            color: #CD6799;
                        }
                        #js{
                            color: #F0DB4F;
                        }
                        #react{
                            color: #61DAFB;
                        }
                        #redux{
                            color: #764ABC;
                        }
                        #node{
                            color: #539E43;
                        }
                        #express{
                            color: #47535e;
                        }
                        #mongo{
                            color: #01EC64;
                        }
                    }
                    // .carousel:hover{
                    //     animation-play-state: paused;
                    // }
                }
            }
            .sec-5{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10vw;
                padding: 0 5vw;
                margin-top: 100px;
                margin-bottom: 100px;
                .left{
                    // flex: 1;
                    display: flex;
                    // align-items: center;
                    // justify-content: center;
                    flex-direction: column;
                    h3{
                        text-align: center;
                        font-size: 36px;
                        color: $color;
                        margin-bottom: 25px;
                    }
                    form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .input{
                            width: 300px;
                            height: 40px;
                            margin: 10px;
                            background-color: $inputBg;
                            color: $color;
                            outline: none;
                            border: none;
                            font-size: 16px;
                            padding-left: 10px;
                            border-radius: 10px;
                            border: 1px solid $color;
                            transition: 0.5s ease-in-out;
                        }
                        .input::placeholder{
                            color: $color;
                            font-size: 16px;
                        }
                        .input:focus{
                            transform: scale(1.1);
                        }
                        .input[type='number']::-webkit-inner-spin-button,
                        .input[type='number']::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                        }
                        textarea{
                            width: 300px;
                            max-width: 300px;
                            height: 100px;
                            margin: 10px;
                            background-color: $inputBg;
                            color: $color;
                            outline: none;
                            border: none;
                            font-size: 16px;
                            padding-left: 10px;
                            border-radius: 10px;
                            border: 1px solid $color;
                            transition: 0.5s ease-in-out;
                        }
                        textarea:focus{
                            transform: scale(1.1);
                        }
                        textarea::placeholder{
                            color: $color;
                            font-size: 16px;
                        }
                        .check{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin: 10px 0;
                            gap: 0;
                            .icon{
                                font-size: 22px;
                                margin: 0 10px 0 20px;
                                color: $color;
                            }
                            label{
                                color: $color;
                                a{
                                    color: $hover;
                                    text-decoration: none;
                                }
                            }
                        }
                        .buttonBox{
                            width: 304px;
                            height: 46px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $gradient;
                            border-radius: 20px;
                            margin-top: 10px;
                            button{
                                width: 300px;
                                background-color: $bgColor;
                                font-size: 18px;
                                padding: 10px 0;
                                color: $color;
                                border: none;
                                border-radius: 20px;
                                cursor: pointer;
                            }
                            button[disabled='disabled'] {
                                cursor: no-drop;
                            }
                        }
                        
                    }
                }
                .right{
                    // flex: 1;
                    h3{
                        font-size: 36px;
                        color: $color;
                        margin: 20px 10px;
                    }
                    p{
                        font-size: 20px;
                        color: $color;
                        margin: 10px;
                    }
                    .social{
                        color: $color;
                        display: flex;
                        align-items: center;
                        .icon{
                            font-size: 24px;
                            margin: 10px;
                            cursor: pointer;
                        }  
                    }
                    .contactBox{
                        width: 154px;
                        height: 45px;
                        background: $gradient;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        margin-left: 10px;
                        margin-top: 10px;
                        a{
                            color: $color;
                            background-color: $bgColor;
                            padding: 10px 25px;
                            border: none;
                            border-radius: 20px;
                            font-size: 18px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-300px * 9)); }
}

@keyframes img1 {
    0% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    27.7% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    27.8% {
        z-index: 99;
    }

    33.2% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }

    60.9% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }

    66.4% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }

    94.1% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }

    94.2% {
        z-index: 100;
    }

    100% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }
}

@keyframes img2 {
    0% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }

    27.7% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }

    33.2% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }

    60.9% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }

    61% {
        z-index: 100;
    }

    66.4% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    94.1% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    94.2% {
        z-index: 99;
    }

    100% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }
}

@keyframes img3 {
    0% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }

    27.7% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 99;
    }

    27.8% {
        z-index: 100;
    }

    33.2% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    60.9% {
        transform: translateX(0px);
        width: 300px;
        z-index: 100;
        top: -75px;
    }

    61% {
        z-index: 99;
    }

    66.4% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 99;
    }

    94.1% {
        transform: translateX(-175px);
        width: 250px;
        top: -300px;
        z-index: 98;
    }

    100% {
        transform: translateX(175px);
        width: 250px;
        top: -225px;
        z-index: 98;
    }
}
