@import './variables.scss';

.portofoliuPage{
    #figura {
        width: 1px;
        height: 1px;
        background-color: rgba(185, 67, 214, 0.2);
        box-shadow: 0 0 400px 400px rgba(185, 67, 214, 0.2);
        position: fixed;
        border-radius: 50%;
        z-index: -2;
        animation: figura 30s infinite linear;
    }
    @keyframes figura {
        from{
            transform: rotateZ(0deg);
        }
        to{
            transform: rotateZ(360deg);
        }
    }
    .portofoliu{
        main{
            color: $color;
            padding: 0 5vw;
            h1{
                font-size: 64px;
                margin: 20px 0;
            }
            p{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .projects{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 10px;
                padding-bottom: 250px;
                .projectBox{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 250px;
                    margin: 10px;
                    background-color: $darckbg;
                    border: 1px solid $color;
                    border-radius: 25px;
                    color: $color;
                    text-decoration: none;
                    img{
                        height: 200px;
                        padding: 20px;
                    }
                    h4{
                        margin-bottom: 20px;
                        font-size: 20px;
                        transition: .5s;
                    }
                }
                .projectBox:hover{
                    color: $hover;
                }
            }
        }
    }
}